<div class="col-md-6 offset-md-3">
    <h3>Update Project</h3>
    <form #projectForm="ngForm" (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]= "project.name" name="name" #name="ngModel" required>
            <div  *ngIf="name.invalid && (name.dirty || name.touched)">
                <div class="alert-danger" *ngIf="name.errors?.required">
                  Project Name is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Stage</label>
            <select name="stage" id="stage" class="form-control" [(ngModel)]= "project.stage" #stage="ngModel" required>
                <option value="NOTSTARTED">Not Started</option>
                <option value="INPROGRESS">In Progess</option>
                <option value="COMPLETED">Completed</option>
            </select>
            <div *ngIf="stage.invalid && (stage.dirty || stage.touched)">
                <div class="alert-danger" *ngIf="stage.errors?.required">
                    Stage is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]= "project.description" name="description" #description="ngModel" required>
            <div *ngIf="description.invalid && (description.dirty || description.touched)">
                <div class="alert-danger" *ngIf="description.errors?.required">
                  Description is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <form [formGroup]="dropDownForm">
              <ng-multiselect-dropdown
                 [placeholder]="'Choose Employee'"
                 [settings]="dropdownSettings"
                 [data]="dropdownListwithData"
                 formControlName="myItems"
                 [(ngModel)]="selected"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelect)="onItemSelect($event)"
                    (onDeSelectAll)="onDeSelectAll($event)">
              </ng-multiselect-dropdown>
            </form>
          </div>
        <br>
        <br>
        <button class="btn btn-success" [disabled]="!projectForm.valid" type="submit">Submit</button>
    </form>
    </div>