<div class="container-fluid">
<div class="row">
<div class="col-md-6">
        <h2 style="margin-left: 240px;">Employee List</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Id</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.emailId}}</td>
                    <td>
                        <button (click) = "updateEmployee(employee.id)" class="btn btn-info">Update</button>
                        <button (click) = "deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                        <button (click) = "employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px;">Veiw</button>
                    </td>
                </tr>
            </tbody>
        
        </table>
</div>
<div class="col-md-6">
    <h2 style="margin-left: 240px;">Project List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Stage</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">
            <td>{{project.name}}</td>
            <td>{{project.stage}}</td>
            <td>{{project.description}}</td>
            <td>
                <button (click) = "updateProject(project.projectId)" class="btn btn-info">Update</button>
                <button (click) = "deleteProject(project.projectId)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                <button (click) = "projectDetails(project.projectId)" class="btn btn-info" style="margin-left: 10px;">Veiw</button>  
            </td>
        </tr>
    </tbody>

</table>
</div>
</div>
</div>
